#divChart {
    display:block;
    margin: 5px auto;
    width: 95%;
    height: auto;
}
#inputsChart {
    font-family: 'Finlandica','sans-serif';
    color: #004d40;
}

mat-icon {
    color: #00838f;
}