
<div class="about_content">
    <h2 class="heading">About Fit Trac</h2>
    <p>
        Training ipsum dolor amet dialogue education blockchain mr. sketch markers MOOC. Malcolm knowles mr. sketch markers next gen personalization objectives peer reviewed. Lifelong tin can outside the box thinking motivation sme computer-based training praxis rapid development. Common denominator next gen tin can, deep dive praxis augmented reality microlearning learning styles aren't real AI sme blockchain. Blockchain core competency BYOD perdisco touchpoint disrupt thought leader.
    </p>
    <section>
        <nav>
            <h4 class="heading">List Heading</h4>
            <ul id="goal_list">
                <li> Sample Goal 1</li>
                <li> Sample Goal 2</li>
                <li> Sample Goal 3</li>
            </ul>
        </nav>
        <article>
            <p>
                Synergy microlearning user experience, can't you just flip charts blockchain AI win win learning styles aren't real learning experience design BYOD. Can't you just synergy agile mr. sketch markers holistic.
            </p>
        </article>
    
    </section>
    <p>
        Sme artificial intelligence scenario rapid development, ilearning holistic personalization blended m-learning perdisco synergy praxis. Microlearning social learning malcolm knowles, next gen hyper microlearning computer-based training mr. sketch markers virtual measurable outcomes AI scenario m-learning. Synergy microlearning user experience, can't you just flip charts blockchain AI win win learning styles aren't real learning experience design BYOD.
    </p>
    <h4 class="heading">Goals Table -- Sample --</h4>
    <table id="goal_table">
        <tr>
            <th>Goal Name</th>
            <th>Timeframe</th>
            <th>Goal Value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>First Goal Name</td>
            <td>1 month</td>
            <td>value to hit</td>
            <td>be able to do some value of something after one month of training</td>
        </tr>
        <tr>
            <td>Second Goal Name</td>
            <td>3 months</td>
            <td>value to hit</td>
            <td>be able to do some value of something after three months of training</td>
        </tr>
        <tr>
            <td>Third Goal Name</td>
            <td>6 months</td>
            <td>value to hit</td>
            <td>be able to do some value of something after six months of training</td>
        </tr>
    </table><br/>
    <p>
        Rapid development smart objectives localize tin can objectives core competency. Just-in-time core competency flip charts hyper microlearning, can't you just gamification learning experience design perdisco macrolearning baseline. Machine learning tin can common denominator scenario. Hyper microlearning deep dive thought leader, millennial outcomes objectives learning experience design Candy Crush synergy storyboard BYOD MOOC disrupt social learning. 
    </p>
</div>
