.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  /* background-color: #009688; */
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-btn, .nav-item {
  flex: 1 1 auto;
  
}

#app-name {
  font-size: xx-large;
}