* {
  box-sizing: border-box;
}

.sidenav-container {
  height: auto;
}

.sidenav {
  width: 150px;
  background-color: #ce93d8;  
  font-family: 'Finlandica','sans-serif';
}

mat-toolbar.prof-title{
  font-family: 'Finlandica','sans-serif';
  font-weight: 800;
  font-size: large;
  color:#4a148c;
  background-color: #ce93d8;  
  
}

.menu-btn, .nav-item {
  flex: 1 1 auto;
  text-align: center;
  color: #e0f2f1;
}

mat-icon {
  color:#e0f2f1;
}

#app-name {
  font-size: xx-large;
  font-family: 'Finlandica', 'sans-serif';
}

img {
  height: 60px;
  width: 60px;
}

.logo:hover {
  cursor: pointer;
}