<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false" position="end">
      <mat-toolbar class="prof-title">
        <h2 class="prof-title">Your Fit Trac</h2>
      </mat-toolbar>
    <mat-nav-list class="finlandica-1">
      <a mat-list-item  (click)="openDialog()" (click)="this.closeSidenav(drawer)">Sign In</a>  <!--sign in-->
      <a mat-list-item  routerLink="/signup" (click)="this.closeSidenav(drawer)">Sign Up</a>  <!--sign up-->
      <a mat-list-item  routerLink="/home" (click)="this.closeSidenav(drawer)">--Home--</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar  color="primary">
      <a class="nav-item" href="/home">
        <img src="/assets/logo.png"  height="75" />
      </a>
      <span class="nav-item" id="app-name"><b>Fit Trac</b></span>
      <button
      fxFlex fxLayoutAlign="flex-end center"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>
