<!-- <mat-grid-tile *ngFor="let g of userGoals">
    <mat-card class="goal-card" >
        <mat-card-header class="goal-title">
            <mat-card-title class="goal-title" routerLink="/goal-detail/{{g.id}}">{{g.name}}</mat-card-title>
            <button mat-fab matTooltip="delete this goal" class="fab-small" 
                color="accent" (click)="deleteGoal(g.id)">
                <mat-icon >delete</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content class="goal-progress" routerLink="/goal-detail/{{g.id}}">
            
            <p>Progress:   {{calcProgress(g)}}%</p>
        </mat-card-content>
    </mat-card>
</mat-grid-tile> -->
