<div class="body">
    <form #editForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field color="accent">
            <mat-label>Goal Name</mat-label>
            <input matInput name="name" [(ngModel)]="this.name" required>
            <mat-error *ngIf="invalidName.invalid">{{nameValidityCheck()}}</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <mat-label>Goal Description</mat-label>
            <textarea matInput name="description" [(ngModel)]="description" required></textarea>
            <mat-error *ngIf="invalidDescription.invalid">{{descriptionValidityCheck()}}</mat-error>
        </mat-form-field>
        <div class="btn-div">
            <button mat-raised-button color="primary" (click)="onClose()">Close</button>
            <button mat-raised-button color="primary" type="submit">Confirm</button>
        </div>
    </form>
</div>