<!-- <h2 mat-dialog-title>Edit Goal Description</h2> -->
<div id="editForm">
<form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">
    <label for="name"><b>Edit Goal Name</b></label>
    <input type="text" name="name" placeholder={{this.newName}} ngModel>
    <br>
    <label for="description"><b>Edit Goal Description</b></label>
    <textarea type="text" name="description" placeholder={{this.newDescr}} ngModel></textarea>
    <div id="select">
        <button (click)="onClose()">Close</button>
        <button type="submit" >Confirm</button>
    </div>
    
</form>

</div>
