.body {
    color: #004d40;
    background-color: #d1c4e9;
    height: 300px;
    font-family: 'Finlandica', 'sans-serif';
    text-align: center;
    border: 7.5px double #640058;
    padding: 50px 10px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    margin:auto 20px;
    width: 100px;
}