<nav class="navbar navbar-expand-lg" data-bs-theme="dark" style="background-color: #640058;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="/assets/logo.png" height="30" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover" href="#">Sign In</a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup"  href="#">Sign Up</a>
        </li>

      </ul>
    </div>
  </div>
</nav>









<nav id="footer" class="navbar fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-brand">CREATED BY Ryan Dorrell, Jonathan Ford & Jordan Boller</a>
    <a class="nav-linkVerse">“But I discipline my body and keep it under control, lest after preaching to others I
      myself should be disqualified.” 1 Corinthians 9:27</a>

  </div>
</nav>


<router-outlet></router-outlet>