
<!-- wrapper/container for the whole app.component template -->
<div class="app-wrapper">
  
  <!-- header area -->
  <div class="header">
    <app-general-nav *ngIf="!hasUserToken"></app-general-nav>
    <app-user-nav *ngIf="hasUserToken"></app-user-nav>
  </div>

  <!-- main content area -->
  <div class="main-content">    
    <router-outlet></router-outlet>
  </div>

  <!-- footer area -->
    <mat-toolbar class="footer" color="primary">
      <ng-content select="[slot='footer']" />
      
      <mat-toolbar-row>
        <p class="nav-linkVerse" id="verse">“But I discipline my body and keep it under control, lest after preaching to others I
          myself should be disqualified.”</p>
        <p class="nav-linkverse" id="verse-ref">- 1 Corinthians 9:27</p>
      </mat-toolbar-row>   

      <mat-toolbar-row>
        <p class="nav-brand">CREATED BY Ryan Dorrell, Jonathan Ford & Jordan Boller</p>
      </mat-toolbar-row>

    </mat-toolbar>
  
</div>





