<div class="signUp" >

    <form class="signUp" (ngSubmit)="signUp()">
        <h2 id="form-title">Sign Up</h2>
        <div class="form-content">
            <mat-form-field color="accent">
                <mat-label> First Name</mat-label>
                <input matInput type="text"  name="firstName"  [(ngModel)]="newUser.firstName">
            </mat-form-field>
        </div>
        <div class="form-content">
            <mat-form-field color="accent">
                <mat-label>Last Name</mat-label>
                <input matInput type="text"  name="lastName" [(ngModel)]="newUser.lastName">
            </mat-form-field>
        </div>        
        <div class="form-content" >
        <mat-form-field color="accent">
            <mat-label>Email</mat-label>
            <input matInput type="email"   name="email" [(ngModel)]="newUser.email">
        </mat-form-field>
        </div>
        <div class="form-content">
            <mat-form-field color="accent">
                <mat-label>Password</mat-label>
                <input matInput type="password"  name="password"  [(ngModel)]="newUser.password">
            </mat-form-field>
        </div>
        
 
        <button mat-raised-button color="primary" class="form-content" id="signup-btn" type="submit" >Sign Up</button>
        

    </form>
</div>