.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: #ce93d8;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-sidenav-content {
  font-family: 'Finlandica', 'sans-serif';
  color:whitesmoke;
}

.mat-toolbar .prof-title{
  font-family: 'Finlandica', 'sans-serif';
  font-weight: 800;
  font-size: large;
  color:#4a148c
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-btn, .nav-item {
  flex: 1 1 auto;
  color: #e0f2f1;
  text-align: center;
}
mat-icon {
  color: #e0f2f1;
}

#app-name {
  font-size: xx-large;
  font-family: 'Finlandica', 'sans-serif';
}

img {
  height: 50px;
  width: 50px;
}

.logo:hover {
  cursor: pointer;
}