<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false" position="end">
    <mat-toolbar class="prof-title">
      <h2 class="prof-title">Your Fit Trac</h2>
    </mat-toolbar>
    <mat-nav-list class="finlandica-1">
      <a mat-list-item routerLink="/dashboard" (click)="this.closeSidenav(drawer)">Dashboard</a>  <!--dashboard linked-->
      <a mat-list-item routerLink="/user-profile" (click)="this.closeSidenav(drawer)">Profile</a>  <!--profile page linked-->
      <a mat-list-item (click)="stats()" (click)="this.closeSidenav(drawer)">Stats</a>  <!--stats linked-->
      <a mat-list-item (click)="signOut()" (click)="this.closeSidenav(drawer)">Sign Out</a>  <!--sign out feature-->
      <a mat-list-item routerLink="/home" (click)="this.closeSidenav(drawer)">--Home--</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="logo">
        <img src="/assets/logo.png"  routerLink="/home" />
      </div>
      <span class="nav-item" id="app-name"><b>Fit Trac</b></span>
      <button
        fxFlex fxLayoutAlign="flex-end center"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <!-- *ngIf="isHandset$ | async" -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>