<div id="create-goal">
    <header id="create-goal-name"> {{firstName}},  Let's Set A New Goal! </header>
    
    <form class="form-div" #goalForm="ngForm" (ngSubmit)="createNewGoal(goalForm.value)"  >
        <h1 class="goalHead">Create a New Goal</h1>
        <div class="input-div">
            <mat-form-field>
                <mat-label >Goal Name</mat-label>
                <input matInput class="input" type="text" name="name" placeholder="name your goal" ngModel>
            </mat-form-field>
        </div>
            
        <div class="input-div">        
            <mat-form-field>
                <mat-label>Choose Goal Type</mat-label>
                <select matNativeControl class="input" placeholder="select a type" name="type" ngModel>
                    <option value="weight loss">Weight Loss</option>
                    <option value="lean and fit">Lean and Fit</option>
                    <option value="muscle bulk">Muscle Bulk</option>
                </select>
            </mat-form-field>                
        </div>
        
        <div class="input-div"> 
            <mat-form-field>
                <mat-label>Goal Description</mat-label>
                <textarea matInput class="input" placeholder="Leave a goal description here" type="text" name="description" ngModel></textarea>
            </mat-form-field>       
        </div> 
            
        <div class="input-div">
            <mat-form-field>
                <mat-label>Goal to Reach</mat-label>
                <input matInput class="input" type="number" placeholder="goal number to reach" name="goalToReach" ngModel>
            </mat-form-field>                
        </div> 

        <div class="input-div">
            <mat-form-field>
                <mat-label>Current Progress</mat-label>
                <input matInput class="input" type="number" placeholder="current progress to goal" name="userProgress" ngModel>
            </mat-form-field>
        </div> 

        <button mat-raised-button id="sub-btn" color="accent" type="submit" >Create Goal</button>
            
    </form>
</div>