.goalHead {
    text-align: center;
    color: #640058;
}
.card {
    margin: 20px auto;
    color: #640058;
    width: 50rem; 
    height: 32rem;
}
.Creation-Input {
    /* margin: 15px; */
    padding: 35px;
    color: #640058;
}

.newGoalCreate  {
    margin-left: 85%;
    width: 100px;
    height: 40px;
    color: #640058;
}

.back {
    margin-left: 70%;
}