.card {
    margin-left: 255px;
    color: #640058;
}
.new-btn {
    margin-left: 400px;
    color: #640058;
}
.goal-details-btn {
    margin-left: 400px;
    color: #640058;
}
.dash-greeting {
    margin-left: 80px;
    color: #640058;
}