<br><br><br><br>
<!-- <h1>Hello {{user.name}}</h1> -->
<h1 class="dash-greeting">Hello "-user.firstName-"</h1>

<br>
<!-- <br><br><br> -->

<!-- adding this area for testing purposes -->
<!-- <h3>List of User Goals</h3>
<div *ngFor = "let goal of userGoals">
    <p>{{goal.name}}, {{goal.type}}, {{goal.description}}, {{goal.goalToReach}}, {{goal.userProgress}} </p>
    
</div> -->


<br><br>
<div *ngFor="let g of userGoals">
    <div class="card" style="width: 60rem; height: 20rem;">
        <!-- <i class="bi bi-x-lg"></i> -->

        <div class="card-body">
            <h1>My Goal: {{g.name}}</h1>
            <p class="card-text">{{g.description}}</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <h2>Progress: {{calcProgress(g)}}%</h2>
            <!-- <h2>Progress: {{g.progress/g.goalToReach}}%</h2> -->
        </div>
        <button class="goal-details-btn" routerLink="/goal-detail/{{g.goalId}}">My Goal Details</button>
    
    </div>
</div>

<button class="new-btn">Create New Goal</button>