.card {
    margin: 20px auto;
    width: 60rem;
    color: #640058;
}
.new-btn {
    margin-left: 70%;
    color: #640058;
}
.goal-details-btn, .delete-btn {
    margin-left: 50%;
    width: 200px;
    color: #640058;
}
/* .delete-btn {
    width: 200px;
    color: #640058;
} */

.dash-greeting {
    margin-left: 10%;
    color: #640058;
}
/* #exit {
    margin-left: 97.5%;
} */