
.quote-card-container {
    background-color: #d1c4e9;
    opacity: 0.95;
    border: 4px double #7b1fa2;
    border-radius: 10px;
    padding-left: 10px;
    font-family: "Fjord One", serif;
    
}
#quote-text{
    padding-top: 1%;
    padding-left: 2%;
}
#quote-author {
    text-align: right;
    padding-right:5%;
}

#dashName {
    margin: 1% 15%;
    color: #640058;
    background-color: #e0f2f1;
    opacity: .8;
    padding:10px;
    border-radius: 10px;
    font-family: 'Finlandica', 'sans-serif';
    font-size:xx-large;
    font-weight: 600;
}

.main-content {
    font-family: 'Finlandica', 'sans-serif';
}
.goal-head {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5%;
    /* flex: 1 1 auto; */
}
#goal-heading {
    color:#004d40;
    background-color: #e0f2f1;
    opacity: .8;
    border-radius: 10px;
    font-size: xx-large;
}
#new-btn {
    width: 60px;
    align-items: right;
    font-size: xx-large;
    font-weight: 600;
}

.goal-list {
    margin: 0px;
    padding: 0px;
    
}
.responsive-grid {
    --grid-cols: 1;
    --grid-row-height: 1:1;
}
@media (min-width:600px){
    .responsive-grid {
        --grid-col:2;
        --grid-row-height: 1:1;
    }
}
mat-grid-list {
    --mat-grid-list-cols: var(--grid-cols);
    --mat-grid-list-row-height: var(--grid-row-height);
}

.goal-card{
    width: 90%;
    min-height: 150px;
    background-color: #d1c4e9;
    border: 4px double #00897b;
    border-radius: 10px;
    color: #004d40;
    opacity: 0.95;
}
.goal-title {
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}
#delete-btn {
    width: 10px;
    height: 10px;
}
.goal-progress {
    font-family: 'Fjord One', 'serif';
    margin: 5px auto;
}
.fab-small {
    width: 35px;
    height: 35px;
    font-size: 10px;
  }

  #divChart {
    display:block;
    width: 300px;
    height: 200px;
}