.card {
    margin-left: 445px;
    color: #640058;
}

.goalDetailHead {
    color: #640058;
    text-align: center;
}
#todaysNumbers {
    width: 40%;
}
.numbersBTN {
    width: 90px;
    margin-left: 70%;
    color: #640058;
    
    

}