* {
    font-family: 'Finlandica', 'sans-serif';
}
#dashName {
    margin: 1% 15%;
    background-color: #e0f2f1;
    opacity: .8;
    padding:10px;
    border-radius: 10px;
    color: #640058;
    font-family: 'Finlandica', 'sans-serif';
    font-size:xx-large;
    font-weight: 600;
}

.container {
    border: 2px solid #4a148c;
    border-radius: 10px;
    width: 60%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #ce93d8 ;
    opacity: 0.95;
}

.card {
    margin: 5px auto;
    height: fit-content;
    background-color: #d1c4e9;
    border: 2px solid #004d40;
    border-radius: 10px;
    width: 80%;
}

.goalDetailHead {
    margin: 5px auto;
    text-align: center;
    background-color: #d1c4e9;
    color: #004d40;
    font-size: x-large;
    font-weight: 600;
    border: 2px solid #004d40;
    border-radius: 10px;
    min-width: fit-content;
    /* max-width: 50%; */
}

mat-card-content {
    padding-left:15%;
}

.btn {
    width: 60px;
    height: 30px;
}
.edit-btn {
    display:flex;
    justify-content:flex-end;
    padding-right: 15px;
}
.sub-btn {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fjord-one-1 {
    font-family: "Fjord One", serif;
    font-weight: 400;
    font-style: normal;
    }

.prog-panel {
    background-color: #d1c4e9;
    border: 2px solid #004d40;
    border-radius: 10px;
    margin: 0px auto;
   
}
#prog-title {
    font-family: 'fjord one', 'serif';
    font-size:large;
    color:#004d40;
}