<br><br><br>
<h1 class="goalDetailHead">My Goal: {{curGoal.name}}</h1>

<br><br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">Description
        <p>{{curGoal.description}}</p>        
        <!-- trigger dialog box for editing the description -->
        <div class="container">
            <div class="row">
                <p class="col">Goal: {{curGoal.goalToReach}}</p>
                <div class="col">
                <button class="editBTN" type="button" mat-raised-button (click)="openDialog('0ms', '0ms')">
                    Edit
                </button>   
                </div> 
            </div>
        </div>
    </div>
</div>


<br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">
        <form (ngSubmit)="updateProgress()">
            <label for="numbers" class="form-label">Todays Numbers</label>
    
            <input type="number" class="form-control" name="todaysNumber" name="userProgress" ngModel >

            <button class="numbersBTN" >Submit</button>
        </form>

    </div>
</div>
<br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">
        Previous Days Numbers
        <p>Current Progress: {{prevProgress}}</p>
    </div>
</div>
<br>

