<br><br><br>
<h1 class="goalDetailHead">My Goal</h1>
<br><br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">
        Description
    </div>
</div>
<br><br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">
        <label for="numbers" class="form-label">Todays Numbers</label>
 
        <input type="numbers" class="form-control" id="todaysNumbers">

        <button class="numbersBTN" routerLink="/dashboard/:userId">Submit</button>


    </div>
</div>
<br><br>
<div class="card" style="width: 37rem; height: 8rem;">
    <div class="card-body">
        Previous Days Numbers
    </div>
</div>