.card {
    margin-top: 30px;
    margin-left: 1260px;
    color: #640058;
   
   
}




.card-body1 {
    color: #640058;
   
    padding-bottom: 250px;
    margin-left: 45px;
}

.card-body2 {
    color: #640058;
    margin-bottom: 400px;
    margin-left: 45px;
}

.card-img-top {
    width: 400px;
    height: 400px;
    margin-left: 500px;
    padding: 50px;
}

.homePG {
    border-radius: solid;
}

