<div class="card" style="width: 10rem;">
    <form>
        <h2>Sign In</h2>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="button" class="btn btn-info">Submit</button>
    </form>
</div>

<div class="homeText">
    <div class="card-body1" style="width: 18rem;">
        <h1><strong>Fit Trac is the first ever christian fitness tracking app</strong></h1>
    </div>
</div>
<br><br><br>

<div class="homeText2">
    <div class="card-body2" style="width: 38rem;">
        <h1><strong>Start with Fit Trac today to achieve your fitness goals tommorow</strong></h1>
    </div>
</div>