#profileName {
    margin: 5px 10px;
}
.profileTabs {
    border-bottom: 2px solid #640058;
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}
.tabItems {
    display: inline-block;
    margin: 0px 5px;
    width:fit-content;
}
ul{
    margin:3px;

}
.header {
    border-bottom: 2px solid #640058;
    width: 25%;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px auto;

}
button {
    margin: 2px auto;
    width: 90px;
}