<div id="profile">
    <header id="profileName"> {{firstName}} {{lastName}}, here is your profile: </header>
    <!-- <nav class="profileTabs js-nav" >
        <ul>
            <li class="tabItems" >profile info</li>
            <li class="tabItems" routerLink="/dashboard">dashboard</li>
            <li class="tabItems" (click)="stats()">stats</li>
        </ul>
    </nav> -->
    <div class="main-content">
        <h2 class=" header">About You</h2>
        <form class="form-div">
            <label>First Name</label>
            <input type="text" ng-Model="user.firstName" placeholder="{{firstName}}">
            <label>Last Name</label>
            <input type="text" ng-Model="user.lastName" placeholder="{{lastName}}">
            <label>Email</label>
            <input type="email" ng-model="user.email" placeholder="{{email}}">
            <br/>
            <button mat-raised-button color="accent" id="save-btn" (click)="noSave()">Save</button>
            
        </form>
    </div>
</div>
